<html>
    <head>
        <title>Insert Title here</title>
    </head>
    <body>
        <h1>EXIT</h1>
        <h3>
            <a href="/dbg/exit/look">Now Status</a>
            <a href="/dbg/exit/true">Set true</a>
            <a href="/dbg/exit/false">Set False</a>
        </h3>
        <h1>PERSON</h1>
        <h3>
            <a href="/dbg/person/look">Now Status</a>
            <a href="/dbg/person/true">Set true</a>
            <a href="/dbg/person/false">Set False</a>
        </h3>
        <h1>STATUS</h1>
        <h3>
            <a href="/dbg/status/look">Now Status</a>
            <a href="/dbg/status/true">Set true</a>
            <a href="/dbg/status/false">Set False</a>
        </h3>

        You can call Roul_#0001 on discord. (<a href="https://github.com/SDR-Roul">Github</a>)
        This repository can download <a href="https://github.com/SDR-Roul/flask_ssl">Here</a>!
    </body>
</html>
